* {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}
.header {
  padding-bottom: 250px;
}
.back {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 800px;
  background-image: url("background.png");
  background-size: cover;
  overflow: auto;
}
.form {
  margin-left: auto;
  margin-right: auto;
  height: 240px;
  position: fixed;
  left: 50%;
  right: 0;
  transform: translateX(-50%);
  bottom: 0;
  align-items: center;
  border: 1px solid #dbdbdb;
}
textarea {
  width: 590px;
  height: 129px;
  margin: 20px;
  border: 0;
  border-radius: 10px;
  outline: none;
}
.btn {
  align-items: center;
  justify-content: center;
  width: 144px;
  height: 41px;
  margin-left: 20px;
  background-color: #0f54b9;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: 0;
  border-radius: 30px;
  outline: none;
}
.messages {
  list-style: none;
}
.messages > li {
  padding: 10px;
}
.messages > li::before {
  margin-right: 10px;
  content: "";
  display: inline-block;
  height: 30px;
  width: 30px;
  background-size: cover;
  background-image: url("face.png");
}
